# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

.next

.idea

.vscode

.github

/src/generated/prisma

prisma

.env

eslint.config.mjs
next.config.ts
next-env.d.ts
package.json
pnpm-lock.yaml
pnpm-workspace.yaml
postcss.config.cjs
prisma.config.ts
README.md
tsconfig.json
